<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mason</title>
</head>

<body>
    <h1 style="text-align:center">bot logged in</h1>
	<p style="text-align:center">BOTは「quit」と話しかけるとログアウトします。また、自身がログアウトすると同時にログアウトします。</p>
	<p style="text-align:center"><input type="button" onclick="location.href='/'" value="戻る"></p>
</body>
</html>