<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mason</title>
</head>

<body>
    <h1 class="header">Mason</h1>
    <article>
        <div class="menu">
            <p class="menu_item"><a href="/">ホーム</a></p>
            <p class="menu_item"><a href="/use">使い方</a></p>
            <p class="menu_item"><a href="/attention">注意事項</a></p>
            <p class="menu_item"><a href="/structure">仕組み</a></p>
        </div>

        <div class="content">
            <div class="content-form">
                <h1>仕組み</h1>
            </div>
            <div class="content-text">
                <ol>
                    <li>仕組み1</li>
                    <li>仕組み2</li>
                    <li>仕組み3</li>
                </ol>
            </div>
        </div>
    </article>
</body>

</html>